*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-word {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  align-self: center;
  margin-right: 76px;
}
.logo-piece-up {
  color: #2e2f42;
}
.logo-piece-down {
  color: #f4f4fd;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.it-is-a-adres,
.navigation,
.navigation-list,
.address-list {
  display: flex;
  flex-direction: row;
}

.navigation {
  align-items: center;
}

.navigation-list {
  gap: 40px;
}

.container-header {
  padding: 24px 0;
}

.address-list {
  gap: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  border-radius: 4px;
  border: 1px solid #fcfcfc;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

/*Header*/

.it-is-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  padding: 0 15px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/*Active page*/
.nav-link.current {
  color: #404bbf;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background: currentColor;
  bottom: -1px;
}
/*-Active page-*/

address {
  font-style: normal;
}
.contact {
  color: currentColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.it-is-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/***********/

/*Main*/

.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.topics {
  padding: 120px 0;
}

.icon-place {
  margin-bottom: 8px;
  padding: 24px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.advantages-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.mini-topic {
  margin-bottom: 8px;
}

.advantages-topics {
  margin: 0;
  padding: 0;
  width: calc((100% - 72px) / 4);
}

.visually-hidden,
.team-text,
.portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mini-topic,
.human-worker,
.name-thing {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.exp-text,
.profesional,
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-text {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.human-worker {
  margin-bottom: 8px;
  text-align: center;
}
.profesional {
  text-align: center;
  margin-bottom: 8px;
}

.worker-text {
  padding: 32px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-worker-link {
  width: 100%;
  height: 100%;
}

.social-media-worker-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-worker-link:focus,
.social-media-worker-link:hover {
  background-color: #404bbf;
}

.worker {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.icon-worker-media {
  fill: #f4f4fd;
}

.portfolio-page {
  padding: 120px 0;
}

.portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-together {
  border: 1px solid #e7e9fc;
  border-top: 0;
  background: #fff;
  padding: 32px 16px;
}

.name-thing {
  margin-bottom: 8px;
}

.box-for-overlay {
  position: relative;
  overflow: hidden;
}

.paragraf-for-overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .paragraf-for-overlay {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/******  *****/

/*Fotter*/
.this-is-footi {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container.down-container {
  display: flex;
  align-items: baseline;
}

.logo-part {
  margin-right: 120px;
}

.footer-social-media {
  margin-right: 80px;
}

.down-word {
  display: inline-block;
  margin-bottom: 16px;
}

.down-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.text-social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.social-list.down-links {
  display: flex;
  gap: 16px;
}

.social-media-worker-link.down-green {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-worker-link.down-green:focus,
.social-media-worker-link.down-green:hover {
  background-color: #31d0aa;
}

.input-with-but {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-color: #fff;
  background-color: #2e2f42;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-but {
  padding: 8px 24px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
}

/***********/
